<div class="card">
    <div class="card-header bg-primary text-light">
        {{ title }}
    </div>
    <div class="card-body">
        <form ngsubmit="ngSubmit()">

            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" #nome="ngModel"
                required minlength="3"/>
            </div>

            <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" [(ngModel)]="produto.descricao" name="descricao" #descricao="ngModel" rows="3"
                required minlength="30"></textarea>
            </div>

            <div class="form-group">
                <label>Preço</label>
                <input type="number" class="form-control" [(ngModel)]="produto.preco" name="preco" #preco="ngModel"
                required/>
            </div>

            <button type="submit" class="btn btn-primary">Finalizar compra</button>
            <a class="btn btn-secondary ml-2">Voltar para a tela principal</a>
        </form>
    </div>
</div>